<h1>Tiny App</h1>

  <h5><a href="http://localhost:8080/urls/new/">Create New TinyURL</h5></a>

  <h6><a href="http://localhost:8080/urls/">Index</a></h6>

  <p>
  <% if (locals.user) { %>
    <%= user.email %>
    <form method="POST" action="/logout" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
  <% } else { %>
  <form method="GET" action="/login" style="display: inline-block;">
    <button type="submit" class="btn btn-info">Login</button>
  </form>
  <form method="GET" action="/urls/register" style="display: inline-block;">
    <button type="submit" class="btn btn-info">Register</button>
  </form>
  <% } %>
  </p>
