<h1>Tiny App</h1>

  <h5><a href="http://localhost:8080/urls/new/">Create New TinyURL</h5></a>

  <h6><a href="http://localhost:8080/urls/">Index</a></h6>

  <p>
  <% if (username) { %>
    <%= username %>
    <form method="POST" action="/logout" style="display: inline-block;">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
  <% } else { %>
  <form method="POST" action="/login">
    <input type="text" name="username">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <% } %>
  </p>
